.recenttrade-content {
  display: block;
}

table {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  max-height: 500px;
}

td,
th {
  border: 1px solid #000;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #363636;
}

.table-overflow {
  height: 500px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

/* Mobile styles */
@media screen and (max-width: 600px) {
  table {
    font-size: 10px; 
  }

  td,
  th {
    padding: 2px; 
  }

  .table-overflow {
    max-height: none; 
  }
}